@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: auto;
}

/***********  HEADER  ***********/
header {
    background-color: #A3A656;
    height: 70px;
    width: 100%;
    display: flex;
}

/* Menu Principal */
#menu {
    display: inline-block;
    height: 70px;
    width: 60%;
    padding-left: 70px;
}

#menu ul {
    list-style-type: none;
    text-align: left;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    gap: 25px;
}

#menu ul li:hover {
    color: #FFFF00;
}

/* Cuenta e idioma */
#perfil {
    align-items: center;
    display: flex;
    float: right;
    font-size: 14px;
    gap: 40px;
    height: 100%;
    justify-content: flex-end;
    padding-right: 20px;
    width: 40%;
}

.cuenta {
    display: flex;
    align-items: center;
    gap: 10px;
}

.idioma {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*********** MAIN ***********/

/* Página principal */
#paginaPrincipal {
    clear: both;
    height: 840px;
    position: relative;
}

#paginaPrincipal img {
    width: 100%;
    height: 840px;
}

.tituloPrincipal {
    font-family: "Romanesco", cursive;
    font-size: 96px;
    left: 195px;
    position: absolute;
    top: 220px;
}

.subtitulo {
    font-size: 32px;
    font-weight: 600;
    left: 195px;
    position: absolute;
    top: 380px;
}

/* Reservación de cita*/
#reservarCitas {
    align-items: center;
    background-color: #F2F6F6;
    display: flex;
    height: 100px;
    justify-content: center;
    text-align: center;
}

#reservarCitas input {
    border-radius: 15px;
    height: 60px;
    width: 300px;
    border: none;
    margin-right: 30px;
}

#reservarCitas label {
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
}

.codigo {
    width: 200px;
}

input::placeholder {
    color: #9E9A9A;
    font-size: 16px;
    padding-left: 15px;
}

/* Servicios de Masaje */
#servicios {
    text-align: center;
}

.tipoDeMasaje {
    display: inline-block;
    margin-bottom: 100px;
    margin-top: 100px;
    width: 350px;
}

.tituloMasaje {
    background-color: #A3A656;
    color: #FFFFFF;
    padding-top: 20px;
    font-weight: 600;
    font-size: 32px;
    border-radius: 15px 15px 0 0;
    height: 70px;
}

#masaje {
    margin: 0 134px;
}

.tipoDeMasaje img {
    height: 100%;
    width: auto;
}

.descripcion {
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: left;
}

.precio {
    float: left;
    font-size: 32px;
    font-weight: 600;
    margin-left: 10px;
}

.tipoDeMasaje a {
    background-color: #A3A656;
    border-radius: 35px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 40px;
    text-decoration: none;
    text-transform: uppercase;
}

.tipoDeMasaje a:hover {
    background-color: #384001;
}

.servicio a {
    background-color: #a3a656;
    border-radius: 35px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    padding: 14px 40px;
    float: right;
}

.servicio a:hover {
    background-color: #384001;
}

/* Planes */
#planes {
    background-color: #f2f6f6;
    height: 770px;
    text-align: center;
}

#planes h2 {
    font-size: 32px;
    font-weight: 600;
    position: relative;
    top: 30px;
}

.plan {
    display: inline-block;
    margin-top: 115px;
    width: 350px;
    height: 525px;
}

.bordeLogo{
    width: 233px;
    height: 233px;
    border: 12px solid #384001;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 45px;
}

.plan img {
    margin-top: 50px;
}

.plan h3 {
    font-weight: 600;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.plan a {
    background-color: #a3a656;
    border-radius: 35px;
    color: #fff;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 20px 80px;
}

.plan a:hover {
    background-color: #384001;
}

.beneficios {
    position: relative;
    height: 80px;
    margin-top: 25px;
}

.beneficios ul {
    position: absolute;
    left: 70px;
    top: 25px;
}

.beneficios li {
    text-align: left;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
}

#tipoPlan {
    margin-left: 100px;
    margin-right: 100px;
}

/* FOOTER */
footer {
    height: 97px;
    background-color: #384001;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

#terminos {
    list-style-type: none;
    text-align: left;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 80px;
    color: #a3a656;
}

#terminos ul {
    list-style-type: none;
    text-align: left;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 70px;
    gap: 80px;
    color: #a3a656;
}

#terminos ul li:hover {
    color: #FFFF00;
}

#redes {
    align-items: center;
    color: #A3A656;
    display: flex;
    float: right;
    font-size: 14px;
    font-weight: bold;
    justify-content: space-between;
    margin-right: 30px;
    width: 20%;
}
